<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1051637211646-ha1f7393oa4qidp567nl2f8m5rqguepp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051637211646-ha1f7393oa4qidp567nl2f8m5rqguepp</string>
	<key>API_KEY</key>
	<string>AIzaSyBal98UJ9aOdscapoK845zhgVgomSFnrdA</string>
	<key>GCM_SENDER_ID</key>
	<string>1051637211646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ammarelshamy.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-dcf2d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-dcf2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051637211646:ios:5cf455ad5233b45f</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-dcf2d.firebaseio.com</string>
</dict>
</plist>